.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }
html
{
    max-width: 1366px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
body
{
    width: 95%;
    margin: auto;
    height: auto;
}
main
 {
     display: flex;
     justify-content: space-between;
 }
#logo
{
    width: 100px;
    height: auto;
}
a
{
    text-decoration: none;
    margin-left: 25px;
}
h1
{
    font-size: 22px;
}
h2
{
    font-size: 16px;
}
h3
{
    font-size: 14px;
}
#heb
{
    color: #0065FC;
    border-top: 5px solid;
    padding-top: 17px;
}
#activ
{
    color: gray;
}
#bicolor
{
    display: none;
}
#hebergement
{
     background-color: #f2f2f2;
     width: 70%;
     padding: 10px;
     margin: 5px;
     border-radius: 10px;
     box-sizing: border-box;
     grid-template-columns: repeat(3, 32%);
     grid-template-rows: auto;
}
aside
{
     background-color: #f2f2f2;
     width: 30%;
     padding: 10px;
     margin: 5px;
     border-radius: 10px;
     box-sizing: border-box;
}
 #resultats
 {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }
.star
{
    margin-right: 2px;
}
.content
 {
     width: 30%;
     border-radius: 10px;
     height: 100%;
     padding: 3px;
     margin: 5px;
     margin-bottom: 20px;
     border-radius: 10px;
     box-sizing: border-box;
     background-color: white;
     box-shadow: 5px 10px 18px #888888;
     cursor: pointer;
     transition-duration: 0.4s;
 }
 .content:hover
 {
    transform: scale(1.02);
 }
 .imgo
{
    width: 100%;
    height: 130px;   
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px 10px 0 0;
}
.hebtext
{
    margin-left: 10px;

}
 .photo
 {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
 }

footer
 {
     display: flex;
     justify-content: space-around;
     background-color: #f2f2f2;
     line-height: 1.5;
 }

 header
 {
     display: flex;
     justify-content: space-between;
 }

 ul
 {
    list-style-type: none;
    width: 33%;
    margin-bottom: 20px;
 }
 .lili
 {
    cursor: pointer;
 }
 .lili:hover {
    text-decoration: underline;
  }
 span
 {
     font-weight: bold;
 }
 #filtre
 {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }
 #logo
 {
     margin: 10px;
 }
 #headnav
 {
     margin-top: 20px;
     margin-right: 20px;
 }
/*.butfil 
{
    position: relative;
    height: 30px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    transition-duration: 0.4s;
    border-radius: 15px;
    border-color: #deebff;
    border-style: solid;
    background-color: white;
    background: linear-gradient(90deg, #deebff 28px, white 28px);
}
.butfil span
{
    visibility: hidden;
}
.butfil::before
{
    z-index: 0;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #DEEBFF;
    transition: all 0.4s ease-in-out;
}
.butfil:hover 
{
    background: #deebff;
}
.butfil i
{
    z-index: 1;
    position: absolute;
}*/

.toggle
{
    margin-top: 5px;
    position: relative;
    display: inline-block;
    height: 34px;
    border-radius: 18px;
    margin-left: 10px;
    cursor: pointer;
}
.but1
{
    width: 150px;
}
.but2
{
    width: 120px;
}
.but3
{
    width: 150px;
}
.but4
{
    width: 210px;
}
.toggle input
{
    display: none;
}
.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #DEEBFF;
    background-color: white;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #DEEBFF;
    transition: all 0.4s ease-in-out;
}
.toggle input:checked + .slider
{
    background-color: #2196F3;
    color: white;
}
.transpar
{
    visibility: hidden;
}
.butext
{
    display: inline-block;
    margin-top: 8px;
}
.buticon
{
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    color: #2196F3;
}


span
{
    background-color: white;
}
button
{
    cursor:pointer;
    font-weight: bold;
}
i
{
    margin-right: 15px;
}
input[type=text]
{
    border-color: black;
    border: 1px solid;
    border-color: #d9d9d9;
    height: 36px;
}
#searchbar
{
    background-color: #d9d9d9;
    background: linear-gradient(90deg, #d9d9d9 60%, #0065FC 60%);
    border-radius: 7px;
    width: 339px;
    height: 40px;
    margin-bottom: 10px;
}
#localisation
{
    border-radius: 7px 0 0 7px;
    border-color: #d9d9d9;
    border-style: solid;
    background: #d9d9d9;
    width: 25px;
}
#find
{
    border-radius: 0 7px 7px 0;
    border-color: #0065FC;
    color: white;
    border-style: solid;
    background: #0065FC;
    height: 40px;
}
#findicon
{
    visibility: hidden;
}
#activite, #recherche
 {
     margin-top: 5px;
     margin-bottom: 10px;
     display: flex;
     flex-direction: column;
 }
.popbloc
 {
    display: flex;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    transition: 0.4S;
 }
.impop
{
    width: 40%;
    margin-right: 20px;
    object-fit: cover;
}
.popbloc:hover
 {
    transform: scale(1.02);
 }
.pophoto
{
    width: 100%;
    height: 145px;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}
.popstar
{
    margin-top: 40px;
}
#activites
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
    max-height: 450px;
}
.actbloc
{
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px; 
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    transition: 0.4S;
}
.actbloc:hover
{
    transform: scale(1.02);
}
.scale
{
    cursor: pointer;
    transition: 0.4s;
}
.scale:hover
{
    transform: scale(1.02);
}
.imact
{
    width: 100%;
    height: 90%;   
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px 10px 0 0;
}
.actphoto
{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.son
{
    display: flex;
    flex-direction: column;
    width: 24%;
}
.sonactphoto
{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.sonimact
{
    width: 100%;
    height: 150px;   
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px 10px 0 0;
}
.sonactbloc
{
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px; 
    box-shadow: 5px 10px 18px #888888;    
}
.acti
{
    margin-left: 10px;
}
#pactivite
{
    display: none;
}
@media screen and (max-width: 992px)
{
    main
    {
        flex-direction: column;
    }
    #hebergement
    {
        width: 100%;
    }
    #resultat
    {
        width: 100%;
    }
    aside
    {
        width: 100%;
    }
    .pop
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .popbloc
    {
        width: 30%;
    }
    .content
    {
        width: 30%;
    }
    #activite
    {
        display: none;
    }
    #pactivite
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    #pactivites
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pactbloc
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        border-radius: 10px;
        padding: 3px;
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 5px 10px 18px #888888;
    }
    .pimact
    {
        width: 100%;
        height: 150px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 10px 10px 0 0;
    }
    .pactphoto
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .pactext
    {
        margin-left: 10px;
    }
}
@media screen and (max-width: 768px)
{
    html
    {
        width: 100%;
    }
    body
    {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        width: 100%;
    }
    h1
    {
        font-size: 26px;
    }
    h2
    {
      font-size: 24px;
    }
    h3
    {
      font-size:20px;
    }
    header
    {
        display: flex;
        flex-direction: column;
    }
    #recherche
    {
        width: 95%;
        margin: auto;
    }
    #headnav
    {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 100%;
        margin-top: 30px;
    }
    #logo
    {
        margin: auto;
        width: 35%;
        height: auto;
        padding-left: 15%;
    }
    #heb, #activ
    {
        width: 50%;
        border-top: none;
        padding-top: 0%;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    #bicolor
    {
        display: block;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, #0065FC  50%, #F2F2F2 50%);    
    }
    /*#heb::after
    {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #0065FC;
    }
    #activ::after
    {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #F2F2F2;
    }*/
    #searchbar
    {
        width: 100%;
        height: 44px;
        margin-bottom: 40px;
        background: linear-gradient(90deg, #F2F2F2 90%, #0065FC 90%);
    }
    #localisation
    {
        position: relative;
        top: -5px;
        left: 4px;
        width: 9%;
        height: 44px;
    }
    #loc
    {
        position: relative;
        left: 3px;
        top: -2px;
    }
    input[type=text]
    {
        width: 80%;
        height: 40px;
        font-size: 30px;
    }
    #find
    {
        display: none;
    }
    #findicon
    {
        position: relative;
        visibility: visible;
        height: 44px;
        top: -5px;
        left: -5px;
        width: 6%;
        border-radius: 0 10px 10px 0;
        border: none;
        background-color: #0065FC;
    }
    #findic
    {
        visibility: visible;
        position: relative;
        color: white;
        /*transform: scale(1.5);*/
        top: -2px;
        left: 0px;
    }
    #filtre
    {
        display: flex;
        flex-wrap: wrap;
    }
    main
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #hebergement
    {
        width: 100%;
    }
    .content
    {
        width: 100%;
    }
    .imgo
    {
        height: 100%;
        height: 150px;
    }
    .photo
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    aside
    {
        width: 100%;
        margin: auto;
    }
    .pop
    {
        display: flex;
        flex-direction: column;
    }
    .popbloc
    {
        width: 100%;
    }
    .impop
    {
        height: auto;
        max-height: 160px;
        width: 60%;
    }
    .pophoto
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #activite
    {
        display: none;
    }
    #pactivite
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    .pactbloc
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        padding: 3px;
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 5px 10px 18px #888888;
    }
    .pimact
    {
        width: 100%;
        height: 150px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 10px 10px 0 0;
    }
    .pactphoto
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .pactext
    {
        margin-left: 10px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        
    }
    footer ul
    {
        width: 90%;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px)
{

    .popbloc
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        border-radius: 10px;
        height: 100%;
        padding: 3px;
        margin: 5px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 5px 10px 18px #888888;
        cursor: pointer;
        transition-duration: 0.4s;
    }
    .popbloc:hover
    {
        transform: scale(1.02);
    }
    .impop
    {
        width: 100%;
        height: 130px;   
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 10px 10px 0 0;
    }
    .poptext p
    {
        margin-bottom: 0;
    }
    .popstar
    {
        margin-top: 0;
    }
}